# Kaggle API Credentials (necessário para o download inicial dos dados)
# Obtenha em kaggle.com -> Settings -> Create New Token
KAGGLE_USERNAME=seu_usuario_aqui
KAGGLE_KEY=sua_chave_aqui

# Databricks (necessário para o dbt e para consultas SQL pelo Streamlit)
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=

# Groq API (necessário para o Llama 3 no Agente NL2SQL)
GROQ_API_KEY=
